* {
     border: 1px solid red !important;
    /*background-color: rgb(232, 232, 232);*/
}

* {
    -box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 20px;
}
/*html, body {
}*/
/*boostrap background color, but do not need the !important tag*/
body {
    background-color: rgb(232, 232, 232) !important;
}

nav {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, .8);
}
.mainSec {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.division{
    height: 5px;
}
.subSec{
    height: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: green;*/
}
#mainSec1 {
   background-image: url("../images/Matthewfinal.jpg");
}

#subSec1 {
    /*background-image: url("../images/Matthew2+3.jpg");*/
    background-color: green;
   }

#mainSec2 {
    background-image: url("../images/WorldTour.jpg");
    /*background-color: pink;*/
}

#subSec2 {
    /*background-image: url("../images/Matthew8.jpg");*/
    background-color: purple;
}